.list-items {
  list-style-type: none;
}

.image {
  height: 100px;
  width: 100px;
}

.button2 {
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 10px;
  margin-right: 10px;
}
